<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222749112128-g8ir06a22ilfk7q1tnactj7e485dekrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222749112128-g8ir06a22ilfk7q1tnactj7e485dekrr</string>
	<key>API_KEY</key>
	<string>AIzaSyDioSQ6KLDw6xF6Z9LgyPyD51DKHs-AFJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>222749112128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>su.oyster.oycrm</string>
	<key>PROJECT_ID</key>
	<string>oycrm-78955</string>
	<key>STORAGE_BUCKET</key>
	<string>oycrm-78955.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222749112128:ios:aa105407d201c1497c6ca5</string>
	<key>DATABASE_URL</key>
	<string>https://oycrm-78955.firebaseio.com</string>
</dict>
</plist>