@import "~open-color/open-color";

// Bootstrap
$spacer: 1rem;
$body-bg: $oc-gray-1;
$body-color: #324148;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// $theme-colors: (
//   'primary': $oc-blue-7,
//   // 'secondary': $secondary,
//   'success': $oc-green-7,
//   // 'info': $info,
//   'warning': $oc-yellow-7,
//   'danger': $oc-red-7,
//   // 'light': $light,
//   // 'dark': $dark
// );
