/node_modules
/public/hot
/public/storage
/public/avatars
/public/attachments
/storage/*.key
/storage/app/old_attachments
/storage/app/public/attachments
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
laravel-echo-server.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
